:not(.font){
	font-family			: 'Noto Sans TC', cwTeXHei;
	font-weight			: bold;	
}
.fa{
	color				: orange;
}
.eventtext{
	font-size			: 2.5vw;
}
.timetitle{
	display				: inline-block;
	color				: #FFFFFF;
	background-color	: #683325;
	font-size			: 2vw;
	height				: 4vw;
	line-height			: 4vw;
	border-radius		: 2vw;
	padding-left		: 1.5vw;
	padding-right		: 1.5vw;
	padding-top			: 0.5vw;
	padding-bottom		: 0.5vw;
	font-weight			: normal;
	margin-right		: 0.7vw;
	vertical-align		: middle;
}
.event{
	margin-left			: 2vw;
	margin-top			: calc(var(--vh, 1vh) * 0.5);
}
.eventitem{
	display				: inline-block;
	background-color	: #E6DCDB;
	font-size			: 2.5vw;
	height				: 14vw;
	border-radius		: 2vw;
	padding-left		: 1.5vw;
	padding-right		: 1.5vw;
	padding-top			: 0.5vw;
	padding-bottom		: 0.5vw;	
	margin-right		: 0.7vw;
	vertical-align		: top;
}
pre{
	fontsize			: 8vw;
}
.eventdetail{
	background-color	: #E6DCDB;
	width				: 73vw;
	border-radius		: 2vw;
	padding-left		: 1.5vw;
	padding-right		: 1.5vw;
	padding-top			: 0.5vw;
	padding-bottom		: 0.5vw;	
	margin-left			: 2vw;
	margin-top			: calc(var(--vh, 1vh) * 1);	
}
.yesno{
	width				: 8vw;	
	margin-top			: 3.7vw;
	margin-left			: 1vw;
}
.item1{
	width				: 4vw;
}
.item2{
	width				: 9vw;
}
.item3{
	width				: 7vw;
}
.item4{
	width				: 10vw;
}
.item5{
	width				: 10vw;
}
.item6{
	width				: 12.5vw;
}
.button{
	width				: 21vw;
	height				: 21vw;	
	margin-left			: 1.5vw;
}
.membox{
	display				: inline-block;
	margin-left			: 5vw;
	margin-top			: calc(var(--vh, 1vh) * 2);
}
.memtext{
	font-size			: 5vw;
	width				: 70vw;
	outline				: none!important;
	border				: 0;
	margin-top			: calc(var(--vh, 1vh) * 0.5);
	text-align			: center;
}
.memphoto{
	width				: 70vw;
	height				: calc(var(--vh, 1vh) * 20);
	/*border-radius		: calc(min(var(--vh, 1vh) * 8, 14vw));*/
	object-fit			: cover;	
}
.infotext{
	margin-left			: 5vw;
	font-size			: calc(var(--vh, 1vh) * 2.5);
	line-height			: calc(var(--vh, 1vh) * 4.5);
	display				: inline-block;
	color				: #683325;
	margin-top			: calc(var(--vh, 1vh) * 19);
	margin-bottom		: calc(var(--vh, 1vh));
}
.infotext2{
	margin-left			: 5vw;
	font-size			: calc(var(--vh, 1vh) * 1.5);
	line-height			: calc(var(--vh, 1vh) * 4.5);
	display				: inline-block;
	color				: #683325;
	margin-bottom		: calc(var(--vh, 1vh));	
}
.infoinput{
	font-size			: calc(var(--vh, 1vh) * 2.5);
	vertical-align		: top;
	outline				: none!important;
	border				: 0;
	margin-left			: 2vw;
	width				: calc(67vw - var(--vh, 1vh) * 10);
	background-color	: #E6DCDB;
	border-radius		: 15px;
	padding-left		: 1vw;
	padding-top			: calc(var(--vh, 1vh) * 0.5);
	padding-bottom		: calc(var(--vh, 1vh) * 0.5);
}
.inputborder{
	height				: calc(var(--vh, 1vh) * 6.5);
	display				: inline-block;
	vertical-align		: top;
	width				: 47vw;
	border-radius		: 15px;
	border-color		: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width	: 2px;
	border-style		: solid;
	text-align			: left;
}
.logininput{
	font-size			: calc(var(--vh, 1vh) * 3);
	vertical-align		: top;
	margin-top			: calc(var(--vh, 1vh) * 1);
/*	outline				: none!important;*/
	border				: 0;
	margin-left			: 2vw;
	width				: calc(42vw - (var(--vh, 1vh) * 5));
}
.logindesctext{
	margin-left			: 0vw;
	font-size			: calc(var(--vh, 1vh) * 2.5);
	display				: inline-block;
	color				: #683325;
	margin-top			: calc(var(--vh, 1vh) * 1);
	margin-bottom		: calc(var(--vh, 1vh) * 1);
}
#frame{
	left				: 6.5%;
	top					: 8.5%;
	width				: 88vw;
	height				: calc(var(--vh, 1vh) * 83);
	position			: absolute;
	display				: block;
	background-color	: #FFFFFF;
	border-radius		: 15px;
	box-shadow			: 0px 0px min(3vw, 3vh) #555555, -0px -0px min(3vw, 3vh) #555555
}
#logintext{
	font-size			: calc(var(--vh, 1vh) * 6);
	position			: relative;
	top					: 5%;
	color				: #683325;
	text-align			: center;	
}
#logindesc{
	font-size			: calc(var(--vh, 1vh) * 2.4);
	position			: relative;
	top					: 6%;
	left				: 16%;
	width				: 70%;
	color				: #000000;
	text-align			: center;
}
#inputbox{
	margin-left 		: -1vw;
	position			: relative;
	top					: 6%;
	color				: #000000;
	text-align			: center;
}
#userlogo{
	margin-top			: calc(var(--vh, 1vh) * 2);
	width				: calc(var(--vh, 1vh) * 5.5);
	height				: calc(var(--vh, 1vh) * 6.5);
}
#userinput{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#usertext{
	line-height			: calc(var(--vh, 1vh) * 2.5);
}
#passlogo{
	width				: calc(var(--vh, 1vh) * 5.5);
	height				: calc(var(--vh, 1vh) * 6.5);
	margin-top			: calc(var(--vh, 1vh) * 4);
}
#passinput{
	margin-top			: calc(var(--vh, 1vh) * 4);
}
#passtext{
	line-height			: calc(var(--vh, 1vh) * 5);
}
#login{
	top					: calc(var(--vh, 1vh) * 22);
	right				: calc(45vw - (var(--vh, 1vh) * 6));
	height				: calc(var(--vh, 1vh) * 12);
	position			: absolute;
}
#howtext{
	margin-top			: calc(var(--vh, 1vh) * 18.5);
	margin-left			: -5vw;
	font-size			: calc(var(--vh, 1vh) * 4);
	width				: 20vw;
	height				: calc(var(--vh, 1vh) * 7);
	display				: inline-block;
	color				: #683325;
	text-align			: center;
	vertical-align		: top;	
}
#howgroup{
	width				: calc(var(--vh, 1vh) * 26.5);
	margin-top			: calc(var(--vh, 1vh) * 19.5);
	margin-left			: 2vw;
	vertical-align		: top;	
}
#howlogin{
	margin-top			: calc(var(--vh, 1vh) * -1.5);
	margin-left			: 17vw;
	width				: calc(var(--vh, 1vh) *26.5);
	vertical-align		: top;	
}
#themelogo{
	position			: absolute;
	bottom				: 0;
	right				: 1vw;
	width				: calc(var(--vh, 1vh) * 30);
	height				: calc(var(--vh, 1vh) * 21);
}
#buttonbox{
	margin-left			: 3.5vw;
	margin-right		: 5vw;
	margin-top			: calc(var(--vh, 1vh) * 4);
	position			: absolute;
}
#whiteframe{
	left				: 10vw;
	top					: calc(21vw + (var(--vh, 1vh) * 7));
	width				: 80vw;
	height				: calc(100% - 21vw - (var(--vh, 1vh) * 11));
	position			: absolute;
	display				: block;
	background-color	: #FFFFFF;
	border-radius		: 15px;
	box-shadow			: 0px 0px min(3vw, 3vh) #555555, -0px -0px min(3vw, 3vh) #555555
}
#title{
	position			: absolute;
	top					: calc(21vw + (var(--vh, 1vh) * 4.5));
	right				: 5vw;
	height				: calc(var(--vh, 1vh) * 5.5);
}
#label{
	display				: inline-block;
	vertical-align		: top;
}
#input{
	display				: inline-block;
	vertical-align		: top;
	position			: absolute;
}
#nicktext{
	margin-top			: calc(var(--vh, 1vh) * 19);
}
#nick{
	margin-top			: calc(var(--vh, 1vh) * 19);
}
#grouptext{
	margin-top			: calc(var(--vh, 1vh));
}
#group{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#liketext{
	margin-top			: calc(var(--vh, 1vh) * 0.5);
}
#liketext2{
	margin-top			: calc(var(--vh, 1vh) * -2.5);
}
#like{
	margin-top			: calc(var(--vh, 1vh) * 2.5);
}
#goodtext{
	margin-top			: calc(var(--vh, 1vh) * -1);
}
#good{
	margin-top			: calc(var(--vh, 1vh) * 1.5);
}
#occutext{
	margin-top			: 0vh;
}
#occutext2{
	margin-top			: calc(var(--vh, 1vh) * -3);
}
#occu{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#introtext{
	margin-top			: calc(var(--vh, 1vh) * -1);
}
#introtext2{
	margin-left			: calc(7vw + (var(--vh, 1vh) * 10));
	font-size			: calc(var(--vh, 1vh) * 1.5);
	line-height			: calc(var(--vh, 1vh) * 2.5);
	display				: inline-block;
	color				: #683325;
	margin-top			: calc(var(--vh, 1vh) * -5);
	margin-bottom		: calc(var(--vh, 1vh));
	width				: calc(68vw - (var(--vh, 1vh) * 10));
}
#intro{
	font-size			: calc(var(--vh, 1vh) * 2.5);
	vertical-align		: top;
	margin-top			: calc(var(--vh, 1vh) * -0.5);
	outline				: none!important;
	border				: 0;
	margin-left			: 5vw;
	width				: 69vw;
	background-color	: #E6DCDB;
	border-radius		: 15px;
	height				: calc(100% - (var(--vh, 1vh) * 63.5));
	padding-left		: 1vw;
	padding-top			: calc(var(--vh, 1vh) * 0.5);
	padding-bottom		: calc(var(--vh, 1vh) * 0.5);
	resize				: none;
}
#photo{
	display				: inline-block;
	position			: absolute;
	left				: 6vw;
	top					: calc(var(--vh, 1vh) * 3);
}
#photoimg{
	width				: calc(var(--vh, 1vh) * 12);
	height				: calc(var(--vh, 1vh) * 12);
	border-radius		: calc(var(--vh, 1vh) * 6);
	object-fit			: cover;	
}
#infothemelogo{
	display				: inline-block;
	position			: absolute;
	left				: 33vw;
	top					: calc(var(--vh, 1vh) * 5.5);
}
#infothemelogoimg{
	width				: calc(var(--vh, 1vh) * 15.5);
}
#infoedit{
	display				: inline-block;
	position			: absolute;
	right				: 6vw;
	top					: calc(var(--vh, 1vh) * 6);
}
#infoeditimg{
	width				: calc(var(--vh, 1vh) * 5);
}
#mentortext{
	margin-top			: 19vh;
}
#mentor{
	margin-top			: 19vh;
}
#organtext{
	margin-top			: calc(var(--vh, 1vh));
}
#organ{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#contacttext{
	margin-top			: calc(var(--vh, 1vh));
}
#contact{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#supportthemelogo{
	display				: inline-block;
	position			: absolute;
	right				: 5vw;
	bottom				: calc(var(--vh, 1vh) * 3.5);
}
#supportthemelogoimg{
	width				: calc(min(var(--vh, 1vh) * 33.5, 67vw));
}
#groupdetail{
	margin-bottom		: calc(var(--vh, 1vh) * 3);
}
#groupnametext{
	margin-top			: calc(var(--vh, 1vh) * 4);
}
#groupname{
	margin-top			: calc(var(--vh, 1vh) * 4);
	width				: calc(54vw - (var(--vh, 1vh) * 10));
}
#groupsong{
	display				: inline-block;
	position			: absolute;
	right				: 6vw;
	top					: calc(var(--vh, 1vh) * 5);
}
#groupsongimg{
	width				: calc(var(--vh, 1vh) * 5);
}
#membox{
	overflow-y			: auto;
	height				: calc((var(--vh, 1vh) * 72.5) - 21vw);
}
#eventtitle{
	margin-left			: 2vw;
	margin-top			: calc(var(--vh, 1vh) * 1);
}
#date{
	width				: 9vw;
	height				: 12vw;
	border-top-color	: #FF0000;
	border-top-width	: 1vw;
	border-top-style	: solid;
	background-color	: #FFFFFF;
	margin-top			: 0.5vw;
}
#year{
	display				: inline-block;
	font-size			: 1vw;
	font-weight			: normal;
	position			: absolute;
	color				: #1EA199;
	left				: 0.2vw;
	top					: 1vw;
}
#month{
	display				: inline-block;
	font-size			: 1vw;
	font-weight			: normal;
	position			: absolute;
	color				: #1EA199;
	top					: 1vw;
	right				: 0.2vw;
	text-align			: right;
}
#day{
	display				: inline-block;
	font-size			: 5vw;
	width				: 9vw;
	color				: #1EA199;
	font-weight			: normal;
	position			: absolute;
	text-align			: center;
	top					: 2.5vw;
	left				: 0;
	text-align			: center;
}
#weekday{
	display				: inline-block;
	width				: 9vw;
	font-size			: 2vw;
	color				: #1EA199;
	font-weight			: normal;
	position			: absolute;
	bottom				: 1vw;
	left				: 0;
	text-align			: center;
}
