#frame{
	left			: 6.5%;
	top				: 8.5%;
	width			: 88vw;
	height			: 83vh;
	position		: absolute;
	display			: block;
	background-color	: #FFFFFF;
	border-radius	: 15px;
}
#logintext{
	font-size		: 8.8vh;
	position		: relative;
	top				: 5%;
	color			: #683325;
	font-weight		: bold;
	text-align		: center;
}
#logindesc{
	font-size		: 3.3vh;
	position		: relative;
	top				: 6%;
	left			: 16%;
	width			: 70%;
	color			: #000000;
	font-weight		: bold;
	text-align		: center;
}
#inputbox{
	margin-left		: -13vw;
	position		: relative;
	top				: 6%;
	color			: #000000;
	font-size		: 18px;
	font-weight		: bold;
	text-align		: center;
}
#userlogo{
	margin-top		: 6vh;
	width			: 9vh;
	height			: 10.5vh;
}
#userinput{
	margin-top		: 6vh;
	height			: 10vh;
	display			: inline-block;
	vertical-align	: top;
	width			: 47vw;
	border-radius	: 15px;
	border-color	: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width	: 2px;
	border-style	: solid;
}
#usertext{
	margin-left		: -3vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#id{
	font-size		: 6vh;
	vertical-align	: top;
	margin-top		: 1.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: 34vw;
}
#passlogo{
	width			: 9vh;
	height			: 10.5vh;
	margin-top		: 4vh;
}
#passinput{
	height	: 10vh;
	display			: inline-block;
	vertical-align	: top;
	width			: 47vw;
	margin-top		: 4vh;
	border-radius	: 15px;
	border-color	: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width : 2px;
	border-style	:solid;
}
#passtext{
	margin-left		: -3vw;
	margin-top		: 3vh;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-bottom	: 1vh;
}
#password{
	font-size		: 6vh;
	vertical-align	: top;
	margin-top		: 1.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: 34vw;
}
#login{
	top				: 8vh;
	right			: 4vw;
	width			: 19vh;
	height			: 19vh;
	position		: absolute;
}
#howtext{
	margin-top		: 7vh;
	margin-left		: -20vw;
	font-size		: 6vh;
	width			: 10vw;
	height			: 7vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	text-align		: center;
	vertical-align	: top;	
}
#howgroup{
	width			: 40vh;
	height			: 7vh;
	margin-top		: 8vh;
	margin-left		: 2vw;
	vertical-align	: top;	
}
#howlogin{
	margin-top		: 1vh;
	margin-left		: -8vw;
	width			: 40vh;
	height			: 7vh;
	vertical-align	: top;	
}
#themelogo{
	position		: absolute;
	bottom			: 0;
	right			: 1vw;
	margin-top		: 3vh;
	width			: 54vh;
	height			: 35vh;
}
#buttonbox{
	width			: 21vh;
	margin-left		: 3vw;
	margin-top		: 5vh;
	margin-bottom	: 5vh;
}
#info{
	width			: 21vh;
	height			: 21vh;
}
#support{
	width			: 21vh;
	height			: 21vh;
	margin-top		: 1.5vh;
}
#member{
	width			: 21vh;
	height			: 21vh;
	margin-top		: 1.5vh;
}
#timetable{
	width			: 21vh;
	height			: 21vh;
	margin-top		: 1.5vh;
}
#whiteframe{
	left			: calc(21vh + 5vw);
	top				: 10vh;
	width			: calc(91vw - 21vh);
	height			: 80vh;
	position		: absolute;
	display			: block;
	background-color	: #FFFFFF;
	border-radius	: 15px;
}
#title{
	position		: absolute;
	top				: 5vh;
	left			: calc(21vh + 10vw);
	height			: 11vh;
}
#infolabel{
	display			: inline-block;
}
#infoinput{
	display			: inline-block;
	vertical-align	: top;
}
#nicktext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 9vh;
	margin-bottom	: 1vh;
}
#nick{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 7.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#grouptext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 5vh;
	margin-bottom	: 1vh;
}
#group{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;	
}
#liketext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 3.5vh;
	margin-bottom	: 1vh;
}
#liketext2{
	margin-left		: 3vw;
	font-size		: 3vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -1vh;
	margin-bottom	: 1vh;
}
#like{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#goodtext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 3vh;
	margin-bottom	: 1vh;
}
#good{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#occutext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 3.5vh;
	margin-bottom	: 1vh;
}
#occutext2{
	margin-left		: 3vw;
	font-size		: 3vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -1vh;
	margin-bottom	: 1vh;
}
#occu{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#introtext{
	margin-left		: 3vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#introtext2{
	margin-left		: 3vw;
	font-size		: 3vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -1vh;
	margin-bottom	: 1vh;
	width			: calc(65vw - 9.5vh);
}
#intro{
	font-size		: 6vh;
	vertical-align	: top;
	margin-top		: -1vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 3vw;
	width			: calc(65vw - 9.5vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
}
#photo{
	display			: inline-block;
	position		: absolute;
	right			: 3vw;
	top				: 4vh;
}
#photoimg{
	width			: 24vh;
	height			: 24vh;
	border-radius	: 12vh;
	object-fit		: cover;
}
#infothemelogo{
	display			: inline-block;
	position		: absolute;
	right			: 3vw;
	top				: 33vh;
}
#infothemelogoimg{
	width			: 22vh;
}
#infoedit{
	display			: inline-block;
	position		: absolute;
	right			: 4vw;
	top				: 66vh;
}
#infoeditimg{
	width			: 9.5vh;
}
#memtortext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 11vh;
	margin-bottom	: 1vh;
}
#memtor{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 9.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#organtext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 5vh;
	margin-bottom	: 1vh;
}
#organ{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#contacttext{
	margin-left		: 3.5vw;
	font-size		: 4vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 5vh;
	margin-bottom	: 1vh;
}
#contact{
	font-size		: 5vh;
	vertical-align	: top;
	margin-top		: 3.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(69vw - 53vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#supportthemelogo{
	display			: inline-block;
	position		: absolute;
	right			: 7vw;
	top				: 44vh;
}
#supportthemelogoimg{
	width			: 43vh;
}