:not(.font){
	font-family			: 'Noto Sans TC', cwTeXHei;
	font-weight			: bold;	
}
.button{
	height				: calc((100% - (var(--vh, 1vh) * 13)) / 4 + (var(--vh, 1vh) * 0.3));
	margin-top			: calc(var(--vh, 1vh) * 1.5);
}
.membox{
	display				: inline-block;
	margin-left			: 5vw;
	margin-top			: calc(var(--vh, 1vh) * 2);
}
.memtext{
	font-size			: calc(var(--vh, 1vh) * 4);
	width				: 27vw;
	outline				: none!important;
	border				: 0;
	text-align			: center;
	padding-top			: calc(var(--vh, 1vh));
	padding-bottom		: calc(var(--vh, 1vh) * 2);
	color				: #000000;
}
.memphoto{
	width				: 27vw;
	height				: calc(var(--vh, 1vh) * 20);
	object-fit			: contain;
}
.infotext{
	margin-left			: 3.5vw;
	font-size			: calc(var(--vh, 1vh) * 4);
	line-height			: calc(var(--vh, 1vh) * 4.5);
	display				: inline-block;
	color				: #683325;
	margin-bottom		: calc(var(--vh, 1vh));
}
.infotext2{
	margin-left			: 4vw;
	font-size			: calc(var(--vh, 1vh) * 3);
	line-height			: calc(var(--vh, 1vh) * 4.5);
	display				: inline-block;
	color				: #683325;
	margin-bottom		: calc(var(--vh, 1vh));
}
.infoinput{
	font-size			: calc(var(--vh, 1vh) * 4.5);
	vertical-align		: top;
	outline				: none!important;
	border				: 0;
	margin-left			: 2vw;
	width				: calc(69vw - (var(--vh, 1vh) * 53));
	background-color	: #E6DCDB;
	border-radius		: 15px;
	padding-left		: 1vw;
	padding-top			: calc(var(--vh, 1vh) * 0.5);
	padding-bottom		: calc(var(--vh, 1vh) * 0.5);
}
.inputborder{
	height				: calc(var(--vh, 1vh) * 10);
	display				: inline-block;
	vertical-align		: top;
	width				: 47vw;
	border-radius		: 15px;
	border-color		: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width	: 2px;
	border-style		: solid;
	text-align			: left;
}
.logininput{
	font-size			: calc(var(--vh, 1vh) * 5);
	vertical-align		: top;
	margin-top			: calc(var(--vh, 1vh) * 0.8);
/*	outline				: none!important;*/
	border				: 0;
	margin-left			: 2vw;
	width				: calc(42vw - (var(--vh, 1vh) * 8));
	padding-left		: 1vw;
	padding-top			: calc(var(--vh, 1vh) * 0.5);
	padding-bottom		: calc(var(--vh, 1vh) * 0.5);
}
.logindesctext{
	margin-left			: 0vw;
	font-size			: calc(var(--vh, 1vh) * 4);
	display				: inline-block;
	color				: #683325;
	margin-top			: calc(var(--vh, 1vh) * 0.5);
	margin-bottom		: calc(var(--vh, 1vh) * 1);
}
#frame{
	left				: 6.5%;
	top					: 8.5%;
	width				: 88vw;
	height				: calc(var(--vh, 1vh) * 83);
	position			: absolute;
	display				: block;
	background-color	: #FFFFFF;
	border-radius		: 15px;
	box-shadow			: 0px 0px min(3vw, 3vh) #555555, -0px -0px min(3vw, 3vh) #555555	
}
#logintext{
	font-size			: calc(var(--vh, 1vh) * 8.8);
	position			: relative;
	top					: 5%;
	color				: #683325;
	text-align			: center;
}
#logindesc{
	font-size			: calc(var(--vh, 1vh) * 3.3);
	position			: relative;
	top					: 6%;
	left				: 11%;
	width				: 80%;
	color				: #000000;
	text-align			: center;
}
#inputbox{
	margin-left			: calc((41vw - (var(--vh, 1vh) * 9) - min(var(--vh, 1vh) * 19, 14vw)) / 2);
	position			: relative;
	top					: 6%;
	color				: #000000;
}
#userlogo{
	margin-top			: calc(var(--vh, 1vh) * 6);
	width				: calc(var(--vh, 1vh) * 9);
	height				: calc(var(--vh, 1vh) * 10.5);
}
#userinput{
	margin-top			: calc(var(--vh, 1vh) * 6);
}
#usertext{
	line-height			: calc(var(--vh, 1vh) * 4.5);
}
#passlogo{
	width				: calc(var(--vh, 1vh) * 9);
	height				: calc(var(--vh, 1vh) * 10.5);
	margin-top			: calc(var(--vh, 1vh) * 4);
}
#passinput{
	margin-top			: calc(var(--vh, 1vh) * 4);
}
#passtext{
	line-height			: calc(var(--vh, 1vh) * 9);
}
#login{
	top					: calc(var(--vh, 1vh) * 18.5 - min(var(--vh, 1vh) * 9.5, 7vw));
	right				: 4vw;
	width				: calc(min(19vh, 14vw));
	height				: calc(min(19vh, 14vw));
	position			: absolute;
}
#howtext{
	margin-top			: calc(var(--vh, 1vh) * 7);
	margin-left			: 0;
	font-size			: calc(var(--vh, 1vh) * 6);
	width				: calc(var(--vh, 1vh) * 16);
	height				: calc(var(--vh, 1vh) * 7);
	display				: inline-block;
	color				: #683325;
	text-align			: left;
	vertical-align		: top;	
}
#howgroup{
	height				: calc(var(--vh, 1vh) * 7);
	margin-top			: calc(var(--vh, 1vh) * 8);
	margin-left			: 2vw;
	vertical-align		: top;	
}
#howlogin{
	margin-top			: 1vh;
	margin-left			: calc(var(--vh, 1vh) * 16 + 2vw);
	height				: calc(var(--vh, 1vh) * 7);
	vertical-align		: top;	
}
#themelogo{
	position			: absolute;
	bottom				: 0;
	right				: 1vw;
	height				: calc(min((62vw - (var(--vh, 1vh) * 9) - min(var(--vh, 1vh) * 19, 14vw)) / 2 + var(--vh, 1vh) * 62.5, var(--vh, 1vh) * 38));
}
#buttonbox{
	width				: calc(var(--vh, 1vh) * 81.5 / 4);
	height				: calc(100% - (var(--vh, 1vh) * 5.5));
	left				: 3vw;
	top					: calc(var(--vh, 1vh) * 5.5);
	position			: absolute;
}
#whiteframe{
	left				: calc(var(--vh, 1vh) * 21 + 5vw);
	top					: calc(var(--vh, 1vh) * 7);
	width				: calc(91vw - (var(--vh, 1vh) * 21));
	height				: calc(100% - (var(--vh, 1vh) * 14));
	position			: absolute;
	display				: block;
	background-color	: #FFFFFF;
	border-radius		: 15px;
	box-shadow			: 0px 0px min(3vw, 3vh) #555555, -0px -0px min(3vw, 3vh) #555555	
}
#title{
	position			: absolute;
	top					: calc(var(--vh, 1vh) * 2);
	left				: calc(var(--vh, 1vh) * 21 + 10vw);
	height				: calc(var(--vh, 1vh) * 11);
}
#label{
	display				: inline-block;
}
#input{
	display				: inline-block;
	vertical-align		: top;
}
#nicktext{
	margin-top			: calc(var(--vh, 1vh) * 9);
}
#nick{
	margin-top			: calc(var(--vh, 1vh) * 7);
}
#grouptext{
	margin-top			: calc(var(--vh, 1vh) * 3.5);
}
#group{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#liketext{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#liketext2{
	margin-top			: calc(var(--vh, 1vh) * -1);
}
#like{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#goodtext{
	margin-top			: calc(var(--vh, 1vh) * 1.5);
}
#good{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#occutext{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#occutext2{
	margin-top			: calc(var(--vh, 1vh) * -1);
}
#occu{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#introtext{
	margin-top			: calc(var(--vh, 1vh) * 2);
}
#introtext2{
	margin-top			: calc(var(--vh, 1vh) * -1);
	width				: calc(62vw - 9.5vh);
}
#intro{
	font-size			: calc(var(--vh, 1vh) * 4.5);
	vertical-align		: top;
	margin-top			: calc(var(--vh, 1vh) * -0.5);
	outline				: none!important;
	border				: 0;
	margin-left			: 3.5vw;
	width				: calc(60.5vw - (var(--vh, 1vh) * 9.5));
	background-color	: #E6DCDB;
	border-radius		: 15px;
	padding-left		: 1vw;
	padding-top			: calc(var(--vh, 1vh) * 0.5);
	padding-bottom		: calc(var(--vh, 1vh) * 0.5);
	resize				: none;
	overflow			: auto;
	height				: calc(100% - var(--vh, 1vh) * 75);
}
#photo{
	display				: inline-block;
	position			: absolute;
	right				: 3vw;
	top					: calc(var(--vh, 1vh) * 4);
}
#photoimg{
	width				: calc(var(--vh, 1vh) * 22);
	height				: calc(var(--vh, 1vh) * 22);
	border-radius		: calc(var(--vh, 1vh) * 12);
	object-fit			: cover;
}
#infothemelogo{
	display				: inline-block;
	position			: absolute;
	right				: 3vw;
	top					: calc(var(--vh, 1vh) * 30);
}
#infothemelogoimg{
	width				: calc(var(--vh, 1vh) * 22);
}
#infoedit{
	display				: inline-block;
	position			: absolute;
	right				: 3vw;
	bottom				: calc(var(--vh, 1vh) * 4);
}
#infoeditimg{
	width				: calc(var(--vh, 1vh) * 9.5);
}
#mentortext{
	margin-top			: calc(var(--vh, 1vh) * 11);
}
#mentor{
	margin-top			: calc(var(--vh, 1vh) * 9.5);
}
#organtext{
	margin-top			: calc(var(--vh, 1vh) * 5);
}
#organ{
	margin-top			: calc(var(--vh, 1vh) * 3.5);
}
#contacttext{
	margin-top			: calc(var(--vh, 1vh) * 5);
}
#contact{
	margin-top			: calc(var(--vh, 1vh) * 3);
}
#supportthemelogo{
	display				: inline-block;
	position			: absolute;
	right				: 7vw;
	bottom				: calc(var(--vh, 1vh) * 4);
}
#supportthemelogoimg{
	width				: calc(var(--vh, 1vh) * 43);
}
#groupnametext{
	margin-top			: calc(var(--vh, 1vh) * 11);
}
#groupname{
	margin-top			: calc(var(--vh, 1vh) * 9.5);
	width				: calc(75vw - (var(--vh, 1vh) * 53));
}
#groupsong{
	display				: inline-block;
	position			: absolute;
	right				: 4vw;
	top					: calc(var(--vh, 1vh) * 2.5);
}
#groupsongimg{
	width				: calc(var(--vh, 1vh) * 11.5);
}
#membox{
	overflow-y			: auto;
	height				: calc(var(--vh, 1vh) * 64);
}