#frame{
	left			: 6.5%;
	top				: 8.5%;
	width			: 88vw;
	height			: 83vh;
	position		: absolute;
	display			: block;
	background-color	: #FFFFFF;
	border-radius	: 15px;
}
#logintext{
	font-size		: 6vh;
	position		: relative;
	top				: 5%;
	color			: #683325;
	font-weight		: bold;
	text-align		: center;	
}
#logindesc{
	font-size		: 2.4vh;
	position		: relative;
	top				: 6%;
	left			: 16%;
	width			: 70%;
	color			: #000000;
	font-weight		: bold;
	text-align		: center;
}
#inputbox{
	margin-left 	: -1vw;
	position		: relative;
	top				: 6%;
	color			: #000000;
	font-size		: 18px;
	font-weight		: bold;
	text-align		: center;
}
#userlogo{
	margin-top		: 2vh;
	width			: 5.5vh;
	height			: 6.5vh;
}
#userinput{
	margin-top		: 2vh;
	height			: 6.5vh;
	display			: inline-block;
	vertical-align	: top;
	width			: 47vw;
	border-radius	: 15px;
	border-color	: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width	: 2px;
	border-style	: solid;
}
#usertext{
	margin-left		: -1vw;
	font-size		: 2.5vh;
	line-height		: 2.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#id{
	font-size		: 3vh;
	vertical-align	: top;
	margin-top		: 1.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: 34vw;
}
#passlogo{
	width			: 5.5vh;
	height			: 6.5vh;
	margin-top		: 4vh;
}
#passinput{
	height			: 6.5vh;
	display			: inline-block;
	vertical-align	: top;
	width			: 47vw;
	margin-top		: 4vh;
	border-radius	: 15px;
	border-color	: #683325;
	border-left-width	: 16px;
	border-left-color	: #FFFFFF;
	border-top-width	: 2px;
	border-right-width	: 2px;
	border-bottom-width : 2px;
	border-style	:solid;
}
#passtext{
	margin-left		: -1vw;
	margin-top		: 2.2vh;
	font-size		: 2.5vh;
	line-height		: 2.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-bottom	: 1vh;
}
#password{
	font-size		: 3vh;
	vertical-align	: top;
	margin-top		: 1.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: 34vw;
}
#login{
	top				: 22vh;
	right			: 34.5vw;
	width			: 12vh;
	height			: 12vh;
	position		: absolute;
}
#howtext{
	margin-top		: 19vh;
	margin-left		: -5vw;
	font-size		: 4vh;
	width			: 20vw;
	height			: 7vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	text-align		: center;
	vertical-align	: top;	
}
#howgroup{
	width			: 26.5vh;
	height			: 4vh;
	margin-top		: 19.5vh;
	margin-left		: 2vw;
	vertical-align	: top;	
}
#howlogin{
	margin-top		: -1.5vh;
	margin-left		: 17vw;
	width			: 26.5vh;
	height			: 4vh;
	vertical-align	: top;	
}
#themelogo{
	position		: absolute;
	bottom			: 0;
	right			: 1vw;
	margin-top		: 3vh;
	width			: 30vh;
	height			: 21vh;
}
#buttonbox{
	margin-left		: 5vw;
	margin-right	: 5vw;
	margin-top		: 4vh;
}
#info{
	width			: 21vw;
	height			: 21vw;
}
#support{
	width			: 21vw;
	height			: 21vw;
	margin-left		: 1.5vw;
}
#member{
	width			: 21vw;
	height			: 21vw;
	margin-left		: 1.5vw;
}
#timetable{
	width			: 21vw;
	height			: 21vw;
	margin-left		: 1.5vw;
}
#whiteframe{
	left			: 10vw;
	top				: calc(21vw + 7vh);
	width			: 80vw;
	height			: calc(100vh - 21vw - 11vh);
	position		: absolute;
	display			: block;
	background-color	: #FFFFFF;
	border-radius	: 15px;
}
#title{
	position		: absolute;
	top				: calc(21vw + 4.5vh);
	right			: 5vw;
	height			: 5.5vh;
}
#infolabel{
	display			: inline-block;
}
#infoinput{
	display			: inline-block;
	vertical-align	: top;
	position		: absolute;
}
#nicktext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 19vh;
	margin-bottom	: 1vh;
}
#nick{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 19.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#grouptext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#group{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#liketext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 0.5vh;
	margin-bottom	: 1vh;
}
#liketext2{
	margin-left		: 5vw;
	font-size		: 1.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -2.5vh;
	margin-bottom	: 1vh;
}
#like{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#goodtext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -1vh;
	margin-bottom	: 1vh;
}
#good{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#occutext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 0vh;
	margin-bottom	: 1vh;
}
#occutext2{
	margin-left		: 5vw;
	font-size		: 1.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -3vh;
	margin-bottom	: 1vh;
}
#occu{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#introtext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -1vh;
	margin-bottom	: 1vh;
}
#introtext2{
	margin-left		: calc(7vw + 10vh);
	font-size		: 1.5vh;
	line-height		: 2.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: -5vh;
	margin-bottom	: 1vh;
	width			: calc(68vw - 10vh);
}
#intro{
	font-size		: 3.5vh;
	vertical-align	: top;
	margin-top		: -0.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 5vw;
	width			: 70vw;
	background-color	: #E6DCDB;
	border-radius	: 15px;
	height			: 12vh;
}
#photo{
	display			: inline-block;
	position		: absolute;
	left			: 6vw;
	top				: 3vh;
}
#photoimg{
	width			: 12vh;
	height			: 12vh;
	border-radius	: 6vh;
	object-fit		: cover;	
}
#infothemelogo{
	display			: inline-block;
	position		: absolute;
	left			: 33vw;
	top				: 5.5vh;
}
#infothemelogoimg{
	width			: 15.5vh;
}
#infoedit{
	display			: inline-block;
	position		: absolute;
	right			: 6vw;
	top				: 6vh;
}
#infoeditimg{
	width			: 5vh;
}
#memtortext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 19vh;
	margin-bottom	: 1vh;
}
#memtor{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 19.5vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#organtext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#organ{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#contacttext{
	margin-left		: 5vw;
	font-size		: 2.5vh;
	line-height		: 4.5vh;
	display			: inline-block;
	color			: #683325;
	font-weight		: bold;
	margin-top		: 1vh;
	margin-bottom	: 1vh;
}
#contact{
	font-size		: 2.5vh;
	vertical-align	: top;
	margin-top		: 2.4vh;
	outline			: none!important;
	border			: 0;
	margin-left		: 2vw;
	width			: calc(67vw - 10vh);
	background-color	: #E6DCDB;
	border-radius	: 15px;
	padding-left	: 1vw;
	padding-top		: 0.5vh;
	padding-bottom	: 0.5vh;
}
#supportthemelogo{
	display			: inline-block;
	position		: absolute;
	right			: 5vw;
	bottom			: 3.5vh;
}
#supportthemelogoimg{
	width			: 36.5vh;
}